/* Avoid extra Blank Page */
@media print {

    html, body {
      height:100vh; 
      margin: 0 !important; 
      padding: 0 !important;
      overflow: hidden;
    }

}

.top-header .col-lg-3 img {
    max-width: 30%;
}

span#brDiv {
    margin-left: 10px;
}


div#display-header img {
    max-width: 100%;
}

.centerClass{
text-align:center;	
}

section.nextac-form {
    padding: 4rem 0 4rem;
}

table.form-table {
    margin-top: 5rem;
}


tr.headingRow {
    border-bottom: 2px solid;
}


tr.bottomRow{
    border-bottom: 1px solid;
}

tr.headingRow th,tr.upperInfo td {
    padding-top: 1rem;
}

td.Salary {
    font-weight: bold;
    text-align: center;
    border: 2px solid;
}

span#payMonthdiv {
    color: green;
}

td#payMonthdiv {
    font-weight: bold;
}
td#teDiv {
    color: white;
}



tr.innerRow{
    border: 1px solid;
}



tr.innerRow td {
    border: 2px solid;
   }

   th.payDetails {
    text-align: center;
    padding: 1rem;
    background: black;
    -webkit-print-color-adjust: exact;
    color: white;
}

tr.bottomRow.bottom td {
    padding-bottom: 1rem;
}

tr.headingTop {
    text-align: center;
    color: white;
    background: black;
    -webkit-print-color-adjust: exact;
}

tr.headingTop th {
    padding: 0.5rem;
    border: 2px solid;
}

tr.bottomRow.inner {
    border: 2px solid;
}

tr.bottomRow.inner td {
    color: white;
    border: 2px solid;
    background: black;
    -webkit-print-color-adjust: exact;
    text-align: center;
    font-weight: bold;
}

th.empInfo {
    background: black;
    border: 2px solid black;
    padding: 0.5rem;
    -webkit-print-color-adjust: exact;
    color: white;
}

p.bottom-line {
    text-align: center;
    padding: 1rem;
}

td {
    padding: 0.4rem 0.6rem 0.4rem;
}

.row.nextac-table {
    margin-top: -75px;
}

.payslip-btn {
    text-align: center;
    padding: 1rem;
}

.payslip-btn button#btnHide {
    padding: 10px 30px 10px;
    border-radius: 15px;
    background: black;
    color: white;
    font-weight: bold;
}

.payslip-btn button#btnHide:hover {
    background: transparent;
    color: black;
}

fieldset#filledform .row .col {
    margin: 0.6rem;
}

fieldset#filledform {
    margin: 1rem 0 5rem;
}

fieldset#filledform h2 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: black;
    padding: 1rem;
}

small{
    color: #ff606e;
}

